@import helper._
@import models._
@(messageId: Long)(responseMessageForm: Form[forms.ResponseMessageForm])(message: String)(token:String)(name:String)(options:List[UserOptions])(pageURL:String)
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shamp - Crea tu Camiseta</title>

    <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.versioned("css/bootstrap.min.css")" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="@routes.Assets.versioned("css/modern-business.css")" rel="stylesheet">
    
    <link href="@routes.Assets.versioned("css/sb-admin.css")" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="@routes.Assets.versioned("css/plugins/morris.css")" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="@routes.Assets.versioned("font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-color:white;">
    <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SHAMP</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    @token
                    @if(token != null){
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @for(option<-options){
                            <li>
                                <a href="@option.user_option_url">@option.user_option_name</a>
                            </li>
                            }
                        </ul>
                    </li>
                    } else {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            
                            <li>
                                <a href="registerArtist">Registro Artistas</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="login">Ingreso</a>
                    </li>
                    }
                    
                    
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        
        <div class="collapse navbar-collapse navbar-ex1-collapse">
        
                <ul class="nav navbar-nav side-nav">
                
                @token
                    @if(token != null){
                            @for(option<-options) {
                                @if(option.user_option_url == pageURL){
                                    <li class="active">
                                }else{
                                <li>
                                }
                            <a href="@option.user_option_url"><i class="fa fa-fw fa-edit"></i> @option.user_option_name</a>
                            </li>
                            }
                        </ul>
                    </li>
                    }
                </ul>
            </div>
        
        
        <!-- /.container -->
    </nav>
        
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="container-fluid">
    <section class="container">
		<div class="container-page">
        @form(action=routes.MessageController.responseMessage(messageId)){
			<div class="col-md-6">
				<h3 class="dark-grey">Responder Mensaje</h3>
				
				
				<div class="form-group col-lg-6">
                <label>Para</label>
                @inputText(responseMessageForm("message_to"),
                '_showConstraints->false,
                '_label -> Nil,
                'placeholder -> "Para",
                'autocomplete ->"off",
                'readonly -> "readonly",
                'maxlength->"20",
                'class->"form-control"
                )
                </div>
				
				<div class="form-group col-lg-6">
				<label>De</label>
                @inputText(responseMessageForm("message_from"),
                '_showConstraints->false,
                '_label -> Nil,
                'placeholder -> "De",
                'autocomplete ->"off",
                'readonly -> "readonly",
                'maxlength->"20",
                'class->"form-control"
                )
                </div>
                
                <div class="form-group col-lg-6">
                <label>Asunto</label>
                @inputText(responseMessageForm("message_subject"),
                '_showConstraints->false,
                '_label -> Nil,
                'placeholder -> "Asunto",
                'autocomplete ->"off",
                'readonly -> "readonly",
                'maxlength->"20",
                'class->"form-control"
                )
                </div>
                
                
                <div class="form-group col-lg-6">
				<label>Mensaje</label>
				@textarea(responseMessageForm("message_content"),
                '_showConstraints->false,
                '_label -> Nil,
                'autocomplete ->"off",
                'class->"form-control"
                )
                </div>
                
                <div class="form-group col-lg-6">
			    <button type="submit" class="btn btn-primary">Responder Mensaje</button>
			    </div>
			    @if(message!= null){
				    <label>@message</label>
				}
			</div>
			<div><h3 class="dark-grey"></h3></div>
			}
		</div>
	</section>
</div>
</div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="@routes.Assets.versioned("js/jquery.js")"></script>
	

    <!-- Bootstrap Core JavaScript -->
    <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
    
     <script src="@routes.Assets.versioned("js/plugins/morris/raphael.min.js")"></script>
    <script src="@routes.Assets.versioned("js/plugins/morris/morris.min.js")"></script>
    <script src="@routes.Assets.versioned("js/plugins/morris/morris-data.js")"></script>

</body>

</html>
