@import models._
@import helper._
@(updateUserForm: Form[forms.UpdateUserForm])(message: String)(token: String)(name:String)(options:List[UserOptions])(user: User)



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shamp - Crea tu Camiseta</title>

   <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.versioned("css/bootstrap.min.css")" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="@routes.Assets.versioned("css/modern-business.css")" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="@routes.Assets.versioned("font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <script>
        function sendData()
        {
            
            var nameContent = document.getElementById("name").value;
            var emailContent = document.getElementById("email1").value;
            var passwordContent = document.getElementById("password1").value;
            var companyContent = document.getElementById("company").value;
            $.ajax({
                method: "POST",
                url: "registerUser",
                dataType : 'json',
                data: { name: nameContent,
                        email: emailContent,
                        password: passwordContent,
                        company: companyContent
                }
                    })
            .done(function( msg ) {
            alert( "Data Saved: " + msg );
            });
        }
    </script>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SHAMP</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="catalog">Catalogo</a>
                    </li>
                    @token
                    @if(token != null){
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @for(option<-options){
                            <li>
                                <a href="@option.user_option_url">@option.user_option_name</a>
                            </li>
                            }
                        </ul>
                    </li>
                    } else {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registro <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="registerUser">Registro Usuarios</a>
                            </li>
                            <li>
                                <a href="registerArtist">Registro Artistas</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="login">Ingreso</a>
                    </li>
                    }
                    
                    
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="container-fluid">
    <section class="container">
		<div class="container-page">
		<div class="col-md-12">
		<div class="form-group col-lg-12">
		
		<h3 class="dark-grey">Datos Basicos</h3>
		
				
				<div class="form-group col-lg-12">
				<p>
				<label>Nombres</label>
				</p>
				<p>
				<h4 class="dark-grey">@user.user_first_name</h4>
                </p>
                </div>
                
                <div class="form-group col-lg-12">
                <p>
                    <label>Apellidos</label>
                </p>
				<p>
				    <h4 class="dark-grey">@user.user_last_name</h4>
				</p>
				
                </div>
				
				<div class="form-group col-lg-12">
				<p>
				    <label>Correo Electronico</label>
				</p>
				<p>
				    <h4 class="dark-grey">@user.user_mail</h4>
				</p>
			    
                </div>
		    
		</div>
		
        @form(action=routes.RegisterController.updateUser()){
			<div class="col-md-12">
			
                <h3 class="dark-grey">Informacion de Facturacion</h3>
                
                <div class="form-group col-lg-6">
                <label>Pais</label>
                @inputText(updateUserForm("user_country"),
                '_showConstraints->false,
                '_label -> Nil,
                'placeholder -> "Pais",
                'autocomplete ->"off",
                'maxlength->"100",
                'class->"form-control"
                )
                </div>
                
                <div class="form-group col-lg-6">
                <label>Ciudad</label>
                @inputText(updateUserForm("user_city"),
                '_showConstraints->false,
                '_label -> Nil,
                'placeholder -> "Ciudad",
                'autocomplete ->"off",
                'maxlength->"100",
                'class->"form-control"
                )
                </div>
                
                <div class="form-group col-lg-6">
                <label>Direccion de Envio</label>
                @inputText(updateUserForm("user_address"),
                '_showConstraints->false,
                '_label -> Nil,
                'placeholder -> "Direccion de Envio",
                'autocomplete ->"off",
                'maxlength->"100",
                'class->"form-control"
                )
                </div>
                
                <div class="form-group col-lg-6">
                <label>Telefono</label>
                @inputText(updateUserForm("phone_number"),
                '_showConstraints->false,
                '_label -> Nil,
                'placeholder -> "Telefono",
                'autocomplete ->"off",
                'maxlength->"100",
                'class->"form-control"
                )
                </div>
                
                
                <div class="form-group col-lg-6">
                <label>Numero de Tarjeta de Credito</label>
                @inputText(updateUserForm("credit_card"),
                '_showConstraints->false,
                '_label -> Nil,
                'placeholder -> "Numero de Tarjeta de Credito",
                'autocomplete ->"off",
                'maxlength->"16",
                'class->"form-control"
                )
                </div>
                
                <div class="form-group col-lg-6">
                <label>Nombre en la Tarjeta</label>
                @inputText(updateUserForm("name_card"),
                '_showConstraints->false,
                '_label -> Nil,
                'placeholder -> "Nombre en la Tarjeta",
                'autocomplete ->"off",
                'maxlength->"100",
                'class->"form-control"
                )
                </div>
                
                <div class="form-group col-lg-6">
                <label>Fecha de Expiracion</label>
                @inputText(updateUserForm("expiration_date"),
                '_showConstraints->false,
                '_label -> Nil,
                'placeholder -> "Fecha de Expiracion",
                'autocomplete ->"off",
                'maxlength->"100",
                'class->"form-control"
                )
                </div>
                
                <div class="form-group col-lg-6">
                <label>CVV</label>
                @inputText(updateUserForm("cvv"),
                '_showConstraints->false,
                '_label -> Nil,
                'placeholder -> "CVV",
                'autocomplete ->"off",
                'maxlength->"3",
                'class->"form-control"
                )
                </div>
                
                
				<button type="submit" class="btn btn-primary">Actualizar</button>
				
				@if(message!= null){
				    <label>@message</label>
				}								
			
			</div>
			
			
			<div><h3 class="dark-grey"></h3></div>
			}
		</div>
	</section>
</div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="@routes.Assets.versioned("js/jquery.js")"></script>
	

    <!-- Bootstrap Core JavaScript -->
    <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>

</body>

</html>
